{% if user.id == streamer.id %}
<div class="pui badge broadcaster"></div>
{% elif user.moderator %}
<div class="pui badge moderator"></div>
{% endif %}
{% if user.vip %}
<div class="pui badge vip"></div>
{% endif %}
{% if user.founder %}
<div class="pui badge founder"></div>
{% elif user.subscriber %}
<div class="pui badge subscriber"></div>
{% endif %}
{% if "bot" in user.login %}
<img class="emote" src="https://static-cdn.jtvnw.net/emoticons/v2/28/default/dark/3.0" alt="MrDestructoid">
{% endif %}
<a class="pui user l{{ user.level }}" href="/user/{{ user.login }}">{{ user.name }}</a>
